# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# pytest cache
.pytest_cache/
__pycache__/
*.py[cod]
*.pyc

# env files
.env
.env.local

# IDEs
.vscode/
.idea/

# Logs
*.log

# Entorno virtual de Python
venv/
.env

**/report.html
